.nav {
    grid-area: nav;
    background-color: MediumVioletRed;
    padding: 10px;
}

.link {
    color: whitesmoke ;
    text-decoration: none;
}

.link:focus {
    color: gold;
}

/*.item a:active,
.item a:focus {
color: gold;
}*/

.topFriends img {
    width: 55px;
    height: 55px;
}

.topFriends {
    padding-top: 90px;
    color: lightskyblue;
 }   