.dialogs {
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding: 10px;
}

.dialog {
  color: navajowhite;
  text-decoration: none;
}

.messages {
  color: lightpink;
}

.dialogItem {
  color: navajowhite;
  text-decoration: none;
}

.dialogItem:focus {
  color: gold;
}